{% layout "layout.liquid" %}
{% block content %}

<section class='content py-5' id='notify'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                {% render 'paths/notify-list' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
