{% layout "layout.liquid" %}
{% block content %}

<section class='my-5' id='search'>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-12'>
                <header class='emz-header'>
                    <h3 class='emz-header__name'>
                        Tìm thấy 20 kết quả với từ khoá “Giày nam”
                    </h3>
                    <div class='emz-header__divider'></div>
                </header>
                {% render 'paths/product-items' %}
            </div>
            <div class='col-12 text-center my-5'>
                <button type="button" class="emz-button btn no-radius btn-outline__red btn-size__md btn__text-red">Xem thêm</button>
            </div>
            <div class='col-12'>
                <header class='emz-header'>
                    <h3 class='emz-header__name'>
                        Đề xuất cho bạn
                    </h3>
                    <div class='emz-header__divider'></div>
                </header>
                {% render 'paths/product-items' %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
