<div class="table-responsive table-history">
    <table class="table">
        <tbody>
        <tr>
            <td valign='middle'>
                <img src='https://picsum.photos/100' alt='img' class='w-100'>
            </td>
            <td valign='middle'>
                <a href='#' class='table-history__title'>
                    Converse star eyerow cut out all star ii knit
                </a>
            </td>
            <td valign='middle' class='table-history__list'>
                {% render 'paths/form-sort' %}
                <ul class='list-inline table-history__list-inline'>
                    <li class="list-inline-item">
                        <span>iPhone 12</span>,
                    </li>
                    <li class="list-inline-item">
                        <span>Xanh đậm</span>
                    </li>
                </ul>
            </td>
            <td valign='middle'>
                    <span class='table-history__price'>
                        850.000<sup>đ</sup>
                    </span>
            </td>
            <td valign='middle' class='table-history__qty'>
                {% render 'paths/product-qty-no-btn' %}
            </td>
            <td valign='middle'>
                    <span class='table-history__total'>
                        99.850.000<sup>đ</sup>
                    </span>
            </td>
            <td valign='middle' class='table-history__action'>
                <a href='#' class='table-history__action-remove'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td valign='middle'>
                <img src='https://picsum.photos/100' alt='img' class='w-100'>
            </td>
            <td valign='middle'>
                <a href='#' class='table-history__title'>
                    Converse star eyerow cut out all star ii knit
                </a>
            </td>
            <td valign='middle' class='table-history__list'>
                {% render 'paths/form-sort' %}
                <ul class='list-inline table-history__list-inline'>
                    <li class="list-inline-item">
                        <span>iPhone 12</span>,
                    </li>
                    <li class="list-inline-item">
                        <span>Xanh đậm</span>
                    </li>
                </ul>
            </td>
            <td valign='middle'>
                    <span class='table-history__price'>
                        850.000<sup>đ</sup>
                    </span>
            </td>
            <td valign='middle' class='table-history__qty'>
                {% render 'paths/product-qty-no-btn' %}
            </td>
            <td valign='middle'>
                    <span class='table-history__total'>
                        99.850.000<sup>đ</sup>
                    </span>
            </td>
            <td valign='middle' class='table-history__action'>
                <a href='#' class='table-history__action-remove'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            </td>
        </tr>
        <tr>
            <td valign='middle'>
                <img src='https://picsum.photos/100' alt='img' class='w-100'>
            </td>
            <td valign='middle'>
                <a href='#' class='table-history__title'>
                    Converse star eyerow cut out all star ii knit
                </a>
            </td>
            <td valign='middle' class='table-history__list'>
                {% render 'paths/form-sort' %}
                <ul class='list-inline table-history__list-inline'>
                    <li class="list-inline-item">
                        <span>iPhone 12</span>,
                    </li>
                    <li class="list-inline-item">
                        <span>Xanh đậm</span>
                    </li>
                </ul>
            </td>
            <td valign='middle'>
                    <span class='table-history__price'>
                        850.000<sup>đ</sup>
                    </span>
            </td>
            <td valign='middle' class='table-history__qty'>
                {% render 'paths/product-qty-no-btn' %}
            </td>
            <td valign='middle'>
                    <span class='table-history__total'>
                        99.850.000<sup>đ</sup>
                    </span>
            </td>
            <td valign='middle' class='table-history__action'>
                <a href='#' class='table-history__action-remove'>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class='table-history__footer' valign='middle'>
            <td colspan='7'>
                <span>Tổng tiền hàng:</span>
                <span class='table-history__footer-price ms-4'>
                        99.850.000<sup>đ</sup>
                    </span>
                <div class='w-100 mt-4'>
                    <ul class='list-inline'>
                        <li class="list-inline-item me-4">
                            <a href='#' type="button" class="emz-button btn no-radius btn-outline__red btn-size__md btn__text-red">Đơn hàng bị huỷ</a>
                        </li>
                        <li class="list-inline-item">
                            <a href='#' type="button" class="emz-button btn no-radius btn-size__md btn-fill__red btn__text-white text-uppercase">Mua lần nữa</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
