<div class="flashsale-item first">
    <div class='flashsale-item__inner'>
        <h3>
            10 -12h
            <br>
            <span>Đang diễn ra</span>
        </h3>
    </div>
</div>
<div class="flashsale-item">
    <div class='flashsale-item__inner'>
        <h3>
            13 -15h
            <br>
            <span>Hôm nay</span>
        </h3>
    </div>
</div>
<div class="flashsale-item">
    <div class='flashsale-item__inner'>
        <h3>
            20 -22h
            <br>
            <span>Hôm nay</span>
        </h3>
    </div>
</div>
<div class="flashsale-item">
    <div class='flashsale-item__inner'>
        <h3>
            10 -12h
            <br>
            <span>30/11</span>
        </h3>
    </div>
</div>
<div class="flashsale-item">
    <div class='flashsale-item__inner'>
        <h3>
            10 -12h
            <br>
            <span>3/12</span>
        </h3>
    </div>
</div>

