<form class='emz-form emz-form-auth'>
    <h3 class='emz-form-title'>
        Đăng ký
    </h3>
    <p class='emz-form-desc'>
        Đăng ký thành viên để mua hàng với nhiều khuyến mãi hơn…
    </p>
    <div class='row'>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputRegisterControl0" class="form-label">Phone number</label>{% endcomment %}
            <input type="text" class="form-control" id="inputRegisterControl0" placeholder="Số điện thoại">
        </div>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputRegisterControl1" class="form-label">Email address</label>{% endcomment %}
            <input type="email" class="form-control" id="inputRegisterControl1" placeholder="Email">
        </div>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputRegisterControl2" class="form-label">Password</label>{% endcomment %}
            <input type="password" class="form-control" id="inputRegisterControl2" placeholder="Mật khẩu">
        </div>
        <div class='col-12 mb-5'>
            <button type="button" class="emz-button btn btn-fill__red btn-size__md btn__text-white w-100">Đăng ký</button>
        </div>
        <div class='col-12'>
            <p class='emz-form-desc__bottom'>
                Bạn đã có tài khoản? <a href='#'>Đăng nhập</a>
            </p>
        </div>
    </div>
</form>
