<form class='emz-form emz-form-auth p-4'>
    <h3 class='emz-form-title'>
        Lấy lại mật khẩu
    </h3>
    <div class='row'>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputResetPasswordControl1" class="form-label">Email address</label>{% endcomment %}
            <input type="password" class="form-control" id="inputResetPasswordControl1" placeholder="Nhập mật khẩu mới">
        </div>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputResetPasswordControl2" class="form-label">Nhập mã xác nhận</label>{% endcomment %}
            <input type="password" class="form-control" id="inputResetPasswordControl2" placeholder="Nhập lại mật khẩu mới">
        </div>
        <div class='col-12 mb-5'>
            <button type="button" class="emz-button btn btn-fill__red btn-size__md btn__text-white w-100">Đăng nhập</button>
        </div>
        <div class='col-12'>
            <p class='emz-form-desc__bottom'>
                <a href='#' data-bs-dismiss="modal" aria-label="Close">Quay lại đăng nhập</a>
            </p>
        </div>
    </div>
</form>
