<a href='#' class='nav-button-right dropdown-toggle dropdown-toggle-notify' id="navbarDropdownNotify" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class='nav-notify sample-svg mx-auto rounded-pill'>
        <span class='d-block'></span>
        <span class='nav-notify-number'>99</span>
    </span>
    <span class='nav-notify-text'>Thông báo</span>
</a>
