<div class='w-100 flashsale-detail__pick boxstyle'>
    <div class='row'>
        <div class='col-3'>
            <h3 class='flashsale-detail__pick-label'>Chất liệu</h3>
        </div>
        <div class='col-9'>
            <div class='flashsale-detail__pick-list'>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR1" checked>
                    <label class="form-check-label" for="inlineR1">Nhôm</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR2">
                    <label class="form-check-label" for="inlineR2">Thủy tinh</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR3">
                    <label class="form-check-label" for="inlineR3">Kim loại</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR4">
                    <label class="form-check-label" for="inlineR4">Gỗ</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR5">
                    <label class="form-check-label" for="inlineR5">Nhựa</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR6">
                    <label class="form-check-label" for="inlineR6">Platinum</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineR7">
                    <label class="form-check-label" for="inlineR7">Vàng</label>
                </div>
            </div>
        </div>
    </div>
</div>
