<div class='w-100 flashsale-detail__pick'>
    <div class='row'>
        <div class='col-3'>
            <h3 class='flashsale-detail__pick-label'>Màu sắc</h3>
        </div>
        <div class='col-9'>
            <div class='flashsale-detail__pick-list'>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" checked>
                    <label class="form-check-label" for="inlineRadio1">Trắng</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2">
                    <label class="form-check-label" for="inlineRadio2">Xanh</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3">
                    <label class="form-check-label" for="inlineRadio3">Vàng</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4">
                    <label class="form-check-label" for="inlineRadio4">Cam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5">
                    <label class="form-check-label" for="inlineRadio5">Mận chín</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6">
                    <label class="form-check-label" for="inlineRadio6">Xanh nước biển</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7">
                    <label class="form-check-label" for="inlineRadio7">Deep Ocean</label>
                </div>
            </div>
        </div>
    </div>
</div>
