<div class='widget-profile'>
    <h3 class='widget-profile__label'>
        Tài khoản của tôi
        <a href='#' data-bs-toggle="modal" data-bs-target="#modalProfileEdit">Sửa tài khoản</a>
    </h3>
    <ul class="widget-profile__list list-unstyled">
        <li>Tên: <span>Lý Linh Ngọc</span></li>
        <li>Số điện thoại: <span>0983 453 005</span></li>
        <li>Email : <span>Anhsangcuadoitoi@gmail.com</span></li>
        <li>Ngày sinh nhật : <span>Chưa cập nhật</span></li>
    </ul>
    <ul class='widget-profile__price list-unstyled'>
        <li>Tổng tiền đã hoàn : <span>789.000đ</span></li>
        <li>Tiền hoàn còn dư : <span>56.000đ</span></li>
    </ul>
</div>
