<div class='emz-tabs flex-fill-tabs emz-tabs-modal'>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="login-tab" data-bs-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">
                Đăng nhập
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="register-tab" data-bs-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">
                Đăng ký
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
            {% render 'paths/form-login' %}
        </div>
        <div class="tab-pane" id="register" role="tabpanel" aria-labelledby="register-tab">
            {% render 'paths/form-register' %}
        </div>
    </div>
</div>
