<div class='widget'>
    <div class='widget-header'>
        <div class='widget-header__inner'>
            <h3 class='mx-auto'>Hỗ trợ trực tuyến</h3>
        </div>
    </div>
    <div class='widget-content'>
        <div class='widget-content__inner'>
            <ul class='widget-staffphone'>
                <li class='widget-staffphone__item d-flex align-items-center'>
                    <h3 class='d-flex align-items-center text-decoration-none mb-0'>
                        <span class='widget-staffphone__item-svg'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </span>
                        <strong class='widget-staffphone__item-name'>
                            Tư vấn bán hàng 1
                            <br>
                            <span>Mrs Dung: <b>0983 453 789</b></span>
                        </strong>
                    </h3>
                </li>
                <li class='widget-staffphone__item d-flex align-items-center'>
                    <h3 class='d-flex align-items-center text-decoration-none mb-0'>
                        <span class='widget-staffphone__item-svg'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                <circle cx="8" cy="8" r="8"/>
                            </svg>
                        </span>
                        <strong class='widget-staffphone__item-name'>
                            Tư vấn bán hàng 2
                            <br>
                            <span>Mrs Lan: <b>0983 453 789</b></span>
                        </strong>
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</div>
