<div class='w-100 account-history'>
    <h3 class='account-name'>
        <span>Xin chào, Lý Linh Ngọc</span>
        <a href='#'>Đăng xuất</a>
    </h3>
    <b>Lịch sử đơn hàng</b>
    <p>31/12/2020</p>
    {% render 'paths/account-table' %}
    <p>24/12/2020</p>
    {% render 'paths/account-table-cancel' %}
</div>
