<section class='blog-list'>
    <article class='blog-list__item w-100'>
        <div class='row'>
            <div class='col-md-4 col-sm-12'>
                <a href='/blog'><img src='https://picsum.photos/320/213' alt='img' class='w-100 mb-3'></a>
            </div>
            <div class='col-md-8 col-sm-12'>
                <h2 class='blog-list__item-title'>
                    <a href='/blog'>Chọn giày thể thao cho bạn gái nữ tính</a>
                </h2>
                <ul class='list-inline blog-list__item-metadata'>
                    <li class="list-inline-item">
                        <a href='#'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span>Lý Linh Ngọc</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href='#'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            <span>24/12/2020</span>
                        </a>
                    </li>
                </ul>
                <p class='blog-list__item-excerpt'>Giày thể thao đang là phụ kiện không thể thiếu trong tủ giày dép của các bạn gái. Những đôi giày thể thao với thiết kế đa dạng, nhiều màu sắc thường được phái đẹp lựa chọn. Những đôi giày thể thao mang phong cách trẻ trung…
                    <a href='/blog'>Xem thêm</a></p>
            </div>
        </div>
    </article>
    <article class='blog-list__item w-100'>
        <div class='row'>
            <div class='col-md-4 col-sm-12'>
                <a href='/blog'><img src='https://picsum.photos/320/213' alt='img' class='w-100 mb-3'></a>
            </div>
            <div class='col-md-8 col-sm-12'>
                <h2 class='blog-list__item-title'>
                    <a href='/blog'>Chọn giày thể thao cho bạn gái nữ tính</a>
                </h2>
                <ul class='list-inline blog-list__item-metadata'>
                    <li class="list-inline-item">
                        <a href='#'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span>Lý Linh Ngọc</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href='#'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            <span>24/12/2020</span>
                        </a>
                    </li>
                </ul>
                <p class='blog-list__item-excerpt'>Giày thể thao đang là phụ kiện không thể thiếu trong tủ giày dép của các bạn gái. Những đôi giày thể thao với thiết kế đa dạng, nhiều màu sắc thường được phái đẹp lựa chọn. Những đôi giày thể thao mang phong cách trẻ trung…
                    <a href='/blog'>Xem thêm</a></p>
            </div>
        </div>
    </article>
    <article class='blog-list__item w-100'>
        <div class='row'>
            <div class='col-md-4 col-sm-12'>
                <a href='/blog'><img src='https://picsum.photos/320/213' alt='img' class='w-100 mb-3'></a>
            </div>
            <div class='col-md-8 col-sm-12'>
                <h2 class='blog-list__item-title'>
                    <a href='/blog'>Chọn giày thể thao cho bạn gái nữ tính</a>
                </h2>
                <ul class='list-inline blog-list__item-metadata'>
                    <li class="list-inline-item">
                        <a href='#'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span>Lý Linh Ngọc</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href='#'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                            </svg>
                            <span>24/12/2020</span>
                        </a>
                    </li>
                </ul>
                <p class='blog-list__item-excerpt'>Giày thể thao đang là phụ kiện không thể thiếu trong tủ giày dép của các bạn gái. Những đôi giày thể thao với thiết kế đa dạng, nhiều màu sắc thường được phái đẹp lựa chọn. Những đôi giày thể thao mang phong cách trẻ trung…
                    <a href='/blog'>Xem thêm</a></p>
            </div>
        </div>
    </article>
</section>
