<div class='row g-0 emz-form'>
    <div class='col-12'>
        <h3 class='widget-profile__label'>
            Thanh toán
        </h3>
    </div>
    <div class='col-12 mb-3'>
        <div class='emz-form__radio radio-red'>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioPayment" id="flexRadioPayment1">
                <label class="form-check-label" for="flexRadioPayment1">
                    Thanh toán khi nhận hàng (COD) <br>
                    <span>Bạn chỉ phải thanh toán khi bạn nhận được hàng.</span>
                </label>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="flexRadioPayment" id="flexRadioPayment2" checked>
                <label class="form-check-label" for="flexRadioPayment2">
                    Thanh toán qua chuyển khoản <br>
                    <span>Bạn chuyển khoản vào số tài khoản 0123456789 - Vietcombank - Lý Linh Ngọc</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioPayment" id="flexRadioPayment2" checked>
                <label class="form-check-label" for="flexRadioPayment2">
                    Thanh toán thẻ qua VNPay <br>
                    <span>Dành cho bạn có thẻ ATM hoặc thẻ Visa, Master...</span>
                </label>
            </div>
        </div>
    </div>
</div>
