<div class='row g-0 emz-form mb-3'>
    <div class='col-12'>
        <h3 class='widget-profile__label'>
            Vận chuyển
        </h3>
    </div>
    <div class='col-12 mb-3'>
        <div class='emz-form__radio flex-radio-label radio-red'>
            <div class="form-check mb-2">
                <input class="form-check-input mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Giao hàng tận nơi
                    <span>40.000đ</span>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Giao hàng HN & SG
                    <span>35.000đ</span>
                </label>
            </div>
        </div>
    </div>
</div>
