<select class="form-select form-sort border-0 ps-0 py-0" aria-label="Default select example">
    <option selected>ABC XYZ DEF</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
