<a href='#' class='nav-button-right' data-bs-toggle="modal" data-bs-target="#modalLoginRegister">
    <span class='nav-notify sample-svg mx-auto rounded-pill'>
        <span class='d-block'></span>
    </span>
    <span class='nav-notify-text'>Đăng nhập</span>
</a>
