<ul class="dropdown-menu dropdown-menu-end dropdown-notify no-border" aria-labelledby="navbarDropdownNotify">
    <li>
        <h4 class='dropdown-notify-label'>Thรดng bรกo mแปi nhแบญn</h4>
    </li>
    <li>
        <a href='#' class='dropdown-item dropdown-item-red d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <img src='https://picsum.photos/40' alt='IMG'>
            </span>
            <span class='dropdown-menu__item-title'>
                Chรo mแปซng bแบกn ฤแบฟn vแปi Big Shoe๐ค
                <span class='dropdown-menu__item-title-desc'>
                    ๐Chรบng tรดi tแบทng bแบกn giแบฃm giรก 10% tแปng ฤฦกn hรng๐
                </span>
            </span>
        </a>
    </li>
    <li>
        <a href='#' class='dropdown-item dropdown-item-gray d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <img src='https://picsum.photos/40' alt='IMG'>
            </span>
            <span class='dropdown-menu__item-title'>
                Theo dรตi 6 shop - Nhแบญn 600 Xu
                <span class='dropdown-menu__item-title-desc'>
                    โก๏ธChแป click rinh xu cแปฑc thรญch โณ Vรo ngay! <br>
                    Sแป lฦฐแปฃng khuyแบฟn mรฃi rแบฅt cรณ hแบกn! Vรo ngayโฆ bแบกn ฦกi๐โโ๏ธ
                </span>
            </span>
        </a>
    </li>
    <li>
        <a href='#' class='dropdown-item dropdown-item-red d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <img src='https://picsum.photos/40' alt='IMG'>
            </span>
            <span class='dropdown-menu__item-title'>
                Tri รขn khรกch hรng thรกng 12 - Giแบฃm giรก 12% mแปi sแบฃn phแบฉm danh mแปฅc cแบงn cรขu ฤฦกn!
                <span class='dropdown-menu__item-title-desc'>
                    Flash sale ฤแปnh nhแบฅt trong nฤm vแปi nhiแปu khuyแบฟn mรฃi cแปฑc ฤฤฉnh mแปi ngรy. Nhanh tay sฤn cho mรฌnh nhแปฏng mรณn ฤแป ฦฐng รฝ nhแบฅt nรo!
                </span>
            </span>
        </a>
    </li>
    <li>
        <a href='#' class='dropdown-item dropdown-item-gray d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <img src='https://picsum.photos/40' alt='IMG'>
            </span>
            <span class='dropdown-menu__item-title'>
                Chรo mแปซng bแบกn ฤแบฟn vแปi Big Shoe๐ค
                <span class='dropdown-menu__item-title-desc'>
                    ๐Chรบng tรดi tแบทng bแบกn giแบฃm giรก 10% tแปng ฤฦกn hรng๐
                </span>
            </span>
        </a>
    </li>
    <li>
        <a href='#' class='dropdown-item dropdown-item-red d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <img src='https://picsum.photos/40' alt='IMG'>
            </span>
            <span class='dropdown-menu__item-title'>
                Theo dรตi 6 shop - Nhแบญn 600 Xu
                <span class='dropdown-menu__item-title-desc'>
                    โก๏ธChแป click rinh xu cแปฑc thรญch โณ Vรo ngay! <br>
                    Sแป lฦฐแปฃng khuyแบฟn mรฃi rแบฅt cรณ hแบกn! Vรo ngayโฆ bแบกn ฦกi๐โโ๏ธ
                </span>
            </span>
        </a>
    </li>
    <li>
        <h4 class='dropdown-notify-more'><a href='/notify'>Xem tแบฅt cแบฃ</a></h4>
    </li>
</ul>
