<a href='/cart' class='nav-button-right'>
    <span class='nav-notify sample-svg mx-auto rounded-pill'>
        <span class='d-block'></span>
        <span class='nav-notify-number'>0</span>
    </span>
    <span class='nav-notify-text'>Giỏ hàng</span>
</a>
