<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-svg'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </span>
            <span class='dropdown-menu__item-title'>
                Bộ sưu tập mới
            </span>
            <span class='dropdown-menu__item-sub'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </span>
        </a>
    </li>
    <li class='dropdown-menu-level-2'>
        {% comment %}
                                DROPDOWN CẤP 2 PHẢI ĐẶT TRƯỚC THẺ A
        {% endcomment %}
        {% render 'paths/nav-dropdown-lvl2' %}
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-svg'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </span>
            <span class='dropdown-menu__item-title'>
                Giày thời trang nam
            </span>
            <span class='dropdown-menu__item-sub'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-svg'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </span>
            <span class='dropdown-menu__item-title'>
                Giày thời trang nữ
            </span>
            <span class='dropdown-menu__item-sub'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-svg'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </span>
            <span class='dropdown-menu__item-title'>
                Giày thể thao
            </span>
            <span class='dropdown-menu__item-sub'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-svg'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </span>
            <span class='dropdown-menu__item-title'>
                Giày công sở
            </span>
            <span class='dropdown-menu__item-sub'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-svg'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </span>
            <span class='dropdown-menu__item-title'>
                Giày mùa xuân
            </span>
            <span class='dropdown-menu__item-sub'>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                  <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                </svg>
            </span>
        </a>
    </li>
</ul>
