<div class="emz-card card mb-3">
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-2">
            <div class='card-body card-body__img p-0'>
                <img src='https://picsum.photos/80' alt='img' class='w-100'>
            </div>
        </div>
        <div class="col-lg-9 col-md-10">
            <div class="card-body p-0">
                <h5 class="card-title">Converse star eyerow cut out all star ii knit</h5>
                <p class="card-text card-price">
                    <span>2 x</span>
                    <span>99.850.000<sup>đ</sup></span>
                </p>
                <p class="card-text card-attr">
                    <a href='#'>iPhone 12</a>,
                    <a href='#'>Xanh đậm</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="emz-card card mb-3">
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-2">
            <div class='card-body card-body__img p-0'>
                <img src='https://picsum.photos/80' alt='img' class='w-100'>
            </div>
        </div>
        <div class="col-lg-9 col-md-10">
            <div class="card-body p-0">
                <h5 class="card-title">Converse star eyerow cut out all star ii knit</h5>
                <p class="card-text card-price">
                    <span>15 x</span>
                    <span>99.850.000<sup>đ</sup></span>
                </p>
                <p class="card-text card-attr">
                    <a href='#'>iPhone 12</a>,
                    <a href='#'>Xanh đậm</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="emz-card card mb-3">
    <div class="row no-gutters">
        <div class="col-lg-3 col-md-2">
            <div class='card-body card-body__img p-0'>
                <img src='https://picsum.photos/80' alt='img' class='w-100'>
            </div>
        </div>
        <div class="col-lg-9 col-md-10">
            <div class="card-body p-0">
                <h5 class="card-title">Converse star eyerow cut out all star ii knit</h5>
                <p class="card-text card-price">
                    <span>3 x</span>
                    <span>99.850.000<sup>đ</sup></span>
                </p>
                <p class="card-text card-attr">
                    <a href='#'>iPhone 12</a>,
                    <a href='#'>Xanh đậm</a>
                </p>
            </div>
        </div>
    </div>
</div>
