<div class='product-qty'>
    <div class="input-group inline-group">
        <div class="input-group-prepend">
            <button class="btn emz-button no-radius btn-outline__dark-1/5 btn-pill btn__text-dark-7/10 btn-minus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                </svg>
            </button>
        </div>
        <input class="form-control quantity mx-3" min="0" name="quantity" value="1" type="number">
        <div class="input-group-append">
            <button class="btn emz-button no-radius btn-outline__dark-1/5 btn-pill btn__text-dark-7/10 btn-plus">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
        </div>
    </div>
</div>
