<div class='w-100 mb-4'>
    <div class="slider slider-for">
        <div class='slider-for__item'>
            <img src='https://picsum.photos/400' alt='Img' class='w-100'>
        </div>
        <div class='slider-for__item'>
            <img src='https://picsum.photos/401' alt='Img' class='w-100'>
        </div>
        <div class='slider-for__item'>
            <img src='https://picsum.photos/402' alt='Img' class='w-100'>
        </div>
        <div class='slider-for__item'>
            <img src='https://picsum.photos/403' alt='Img' class='w-100'>
        </div>
        <div class='slider-for__item'>
            <img src='https://picsum.photos/404' alt='Img' class='w-100'>
        </div>
    </div>
    <div class="slider slider-nav">
        <div class='slider-nav__item'>
            <img src='https://picsum.photos/120' alt='Img' class='w-100'>
        </div>
        <div class='slider-nav__item'>
            <img src='https://picsum.photos/121' alt='Img' class='w-100'>
        </div>
        <div class='slider-nav__item'>
            <img src='https://picsum.photos/122' alt='Img' class='w-100'>
        </div>
        <div class='slider-nav__item'>
            <img src='https://picsum.photos/123' alt='Img' class='w-100'>
        </div>
        <div class='slider-nav__item'>
            <img src='https://picsum.photos/124' alt='Img' class='w-100'>
        </div>
    </div>
</div>
