@tailwind base;
@tailwind components;
@tailwind utilities;

/***********************************************************************************\
      FONT FAMILY
\***********************************************************************************/
@layer base {
  @font-face {
      font-family: 'Lato Hairline';
      src: url('fonts/lato/Lato-Hairline.woff2') format('woff2'),
          url('fonts/lato/Lato-Hairline.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Bold.woff2') format('woff2'),
          url('fonts/lato/Lato-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Black.woff2') format('woff2'),
          url('fonts/lato/Lato-Black.woff') format('woff');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Heavy.woff2') format('woff2'),
          url('fonts/lato/Lato-Heavy.woff') format('woff');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Italic.woff2') format('woff2'),
          url('fonts/lato/Lato-Italic.woff') format('woff');
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Light.woff2') format('woff2'),
          url('fonts/lato/Lato-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Medium.woff2') format('woff2'),
          url('fonts/lato/Lato-Medium.woff') format('woff');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Regular.woff2') format('woff2'),
          url('fonts/lato/Lato-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Lato';
      src: url('fonts/lato/Lato-Thin.woff2') format('woff2'),
          url('fonts/lato/Lato-Thin.woff') format('woff');
      font-weight: 100;
      font-style: normal;
      font-display: swap;
  }
  .svg-filter {
    -webkit-filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .3));
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .3));
  }
  .svg-filter-none {
    -webkit-filter: none;
    filter: none;
  }
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px !important;
    }
  }
}

/***********************************************************************************\
      OVERLAY
\***********************************************************************************/
@media only screen and (max-width: 1023px) {
    .overlay:after {
      @apply top-16 block h-full left-0 inset-x-0 fixed;
        content: " ";
        z-index: 29;
        background: rgba(0, 0, 0, 0.5);
    }
}

/***********************************************************************************\
      SIDEBAR
\***********************************************************************************/
#main-sidebar .list-sidebar {
  @apply h-full;
  width: calc(100% + 17px);
}

@media (pointer:coarse) {
  #main-sidebar .list-sidebar {
    @apply w-full;
  }
}

.dropdown {
  @apply flex relative h-auto font-lato font-medium text-14px text-menuItem cursor-pointer;
}

.dd-button {
  @apply flex flex-auto h-41px pl-8 pr-4;
}

.dd-input {
  @apply hidden;
}

.dd-menu {
  @apply relative list-none;
}

.dd-input + .dd-menu {
  @apply hidden;
}

.dd-input:checked + .dd-menu {
  @apply block;
}

.dd-menu li {
  @apply whitespace-no-wrap pl-8 pr-4;
}

.dd-menu li:hover {
  @apply bg-sidebarHover;
}

.dd-menu li a {
}

.dd-menu li.divider{
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

/***********************************************************************************\
      BREADCRUMB
\***********************************************************************************/
.breadcrumb li {
  @apply flex items-center;
}
.breadcrumb li svg {
  @apply w-3 h-3 fill-placeholderStyle mr-4;
}
.breadcrumb li a {
  @apply font-lato font-medium text-14px text-placeholderStyle;
}

/***********************************************************************************\
      COLUMNS
\***********************************************************************************/
.grid-cols {
  @apply flex flex-wrap -mx-5;
}
.grid-cols > * {
  @apply px-5 flex-auto mb-5 mx-auto;
}

/***********************************************************************************\
      ADVANCE SEARCH BOX
\***********************************************************************************/
/*.cms-radio input[type="radio"]:checked + label{
  @apply text-buttonAndURL;
}*/

/*.search-bar input[type="search"] ~ .advance-search-box {
  @apply hidden;
}

.search-bar input[type="search"]:focus ~ .advance-search-box,
.search-bar input[type="search"]:visited ~ .advance-search-box {
  @apply block;
}*/

/*@media only screen and (min-width: 768px ) {
  .w-advanceSearchWidthMaximum.widthCalculated {
    width: calc(624px - 2.5rem);
    max-width: calc(624px - 2.5rem);
  }
  .w-advanceSearchWidthMaximum.widthCalculated.widthInside {
    width: calc(624px - 2.5rem - 1rem);
    max-width: calc(624px - 2.5rem - 1rem);
  }
}*/
@media only screen and (max-width: 767px ) {
  .w-advanceSearchWidthMaximum.widthCalculated {
    width: calc(100vw - 5rem - 10px);
    max-width: calc(100vw - 5rem - 10px);
  }
  .w-advanceSearchWidthMaximum.widthCalculated.widthInside {
    width: calc(100vw - 5rem - 2.5rem);
    max-width: calc(100vw - 5rem - 2.5rem);
  }
}

.h-advanceSearchHeightCalculated > .advanceSearchList {
  @apply overflow-y-scroll overflow-x-hidden h-full;
  width: calc( 100% + 17px );
}

@media (pointer:coarse) {
  .h-advanceSearchHeightCalculated > .advanceSearchList {
    @apply w-full !important;
  }
}

/***********************************************************************************\
      TABLE
\***********************************************************************************/
.cms-table .innerbox tr:hover {
  @apply bg-sidebarHover;
}
.cms-table .innerbox tr:last-child {
  @apply border-b-0;
}
.cms-table .cms-table-props li:last-child > svg,
.hidden-last-dot li:last-child > svg {
  @apply hidden;
}
@media only screen and (max-width: 1024px) {
  .cms-table {
    @apply overflow-x-scroll;
    width: calc(100vw - 5.5rem + 6px);
  }
}

@media only screen and (max-width: 767px) {
  .cms-table > div {
    width: calc(150vw - 1.25rem);
  }
  .cms-table > div.shipped-table {
    width: calc(150vw + 2.5rem + 1rem);
  }
  .cms-table table {
    width: calc(150vw - 2.5rem);
  }
  .cms-table table.shipping-partner {
    width: calc(150vw - 5rem);
  }
  .cms-table table.innerbox {
    width: calc(150vw);
  }
  .cms-table table.innerbox tr {
    @apply px-5;
  }
}

@media only screen and (max-width: 425px) {
  .cms-table > div {
    width: calc(200vw - 1.25rem);
  }
  .cms-table > div.shipped-table {
    width: calc(200vw + 3.25rem);
  }
  .cms-table table {
    width: calc(200vw - 2.5rem);
  }
  .cms-table table.innerbox {
    width: calc(200vw);
  }
}

/***********************************************************************************\
      MISCELLANEOUS
\***********************************************************************************/
* {
    @apply break-words;
}
.no-m {
  @apply m-0 !important;
}
.no-mt {
  @apply mt-0 !important;
}
.no-mr {
  @apply mr-0 !important;
}
.no-mb {
  @apply mb-0 !important;
}
.no-ml {
  @apply ml-0 !important;
}
.no-mx {
  @apply mx-0 !important;
}
.no-my {
  @apply my-0 !important;
}
.no-p {
  @apply p-0 !important;
}
.no-pt {
  @apply pt-0 !important;
}
.no-pr {
  @apply pr-0 !important;
}
.no-pb {
  @apply pb-0 !important;
}
.no-pl {
  @apply pl-0 !important;
}
.no-px {
  @apply px-0 !important;
}
.no-py {
  @apply py-0 !important;
}
.no-rounded {
  @apply rounded-none !important;
}
.no-rounded-tl {
  @apply rounded-tl-none !important;
}
.no-rounded-tr {
  @apply rounded-tr-none !important;
}
.no-rounded-br {
  @apply rounded-br-none !important;
}
.no-rounded-bl {
  @apply rounded-bl-none !important;
}
.no-rounded-t {
  @apply rounded-t-none !important;
}
.no-rounded-r {
  @apply rounded-r-none !important;
}
.no-rounded-b {
  @apply rounded-b-none !important;
}
.no-rounded-l {
  @apply rounded-l-none !important;
}
.no-b {
  @apply border-0 !important;
}
.no-b-t {
  @apply border-t-0 !important;
}
.no-b-r {
  @apply border-r-0 !important;
}
.no-b-b {
  @apply border-b-0 !important;
}
.no-b-l {
  @apply border-l-0 !important;
}
.text-standardCMS {
  @apply cms-typo text-14px;
}
.cms-label {
  @apply cms-typo w-full mb-2;
}

.disable-img {
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.disabled:hover * {
  @apply cursor-not-allowed;
}
.disabled .cms-label h2,
.disabled h3, h3.disabled,
.disabled a, a.disabled {
  @apply text-placeholderStyle !important;
}
.disabled {
    @apply text-placeholderStyle select-none opacity-50;
}
.disabled:hover,
.disabled:hover *,
.disabled:focus,
.disabled:focus *{
    @apply text-placeholderStyle;
}
.disabled button, button.disabled {
  @apply bg-gray-400 text-placeholderStyle select-none;
}
.disabled button:hover,
.disabled button:focus {
  @apply bg-gray-400 text-placeholderStyle outline-none;
}

/***********************************************************************************\
      HOVER AND FOCUS
\***********************************************************************************/
*:focus {
  @apply outline-none;
}
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  @apply border border-buttonAndURL shadow;
}
svg:not(.no-effect):hover,
svg:not(.no-effect):focus {
  /*@apply fill-buttonAndURL svg-filter;*/
}
button:not(.no-effect):hover,
button:not(.no-effect):focus {
  @apply shadow-md;
}
button:hover,
button:focus {
  @apply outline-none;
}
button:hover > svg,
button:focus > svg {
  @apply svg-filter-none;
}
select:hover,
select:focus {
  @apply shadow border-buttonAndURL !important;
}

/***********************************************************************************\
      WEBKIT SCROLLBAR
\***********************************************************************************/
.cms-scrollbar {
  scrollbar-color: grey #eee;
  scrollbar-width: thin;
}
.cms-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.cms-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-200;
  border-radius: 10px;
}
.cms-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 10px;
}
.cms-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
