<div class='row'>
    <div class='col-md-6 col-sm-12 emz-buyer'>
        <h3>
            Thông tin mua hàng
        </h3>
        <p>
            Lý Linh Ngọc <br>
            linhngoc@gmail.com <br>
            0123 456 789 <br>
        </p>
    </div>
    <div class='col-md-6 col-sm-12 emz-buyer'>
        <h3>
            Địa chỉ nhận hàng
        </h3>
        <p>
            Trúc Thanh Mai <br>
            Nhà 6A, Ngõ 99 Định Công Hạ, Phường Định Công, Hoàng Mai, Hà Nội <br>
            Phường Định Công <br>
            Quận Hoàng Mai <br>
            Hà Nội <br>
            0123 456 789 <br>
        </p>
    </div>
    <div class='col-md-6 col-sm-12 emz-buyer'>
        <h3>
            Phương thức thanh toán
        </h3>
        <p>
        <div class="form-check mb-2">
            <input class="form-check-input mt-0" type="radio" name="radioProceed1" id="radioProceed1" checked>
            <label class="form-check-label" for="radioProceed1">
                Thanh toán khi nhận hàng (COD)
            </label>
        </div>
        </p>
    </div>
    <div class='col-md-6 col-sm-12 emz-buyer'>
        <h3>
            Phương thức vận chuyển
        </h3>
        <p>
        <div class="form-check mb-2">
            <input class="form-check-input mt-0" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
                Giao hàng tận nơi
                <span class='ms-4'>40.000đ</span>
            </label>
        </div>
        </p>
    </div>
</div>
