<form class='emz-form emz-form-auth'>
    <h3 class='emz-form-title'>
        Đăng nhập
    </h3>
    <p class='emz-form-desc'>
        Khuyến mãi nhiều hơn. Mua hàng dễ dàng hơn…
    </p>
    <div class='row'>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputLoginControl1" class="form-label">Email address</label>{% endcomment %}
            <input type="email" class="form-control" id="inputLoginControl1" placeholder="Email">
        </div>
        <div class='col-12 mb-3'>
            {% comment %}<label for="inputLoginControl2" class="form-label">Password</label>{% endcomment %}
            <input type="password" class="form-control" id="inputLoginControl2" placeholder="Mật khẩu">
        </div>
        <div class='col-12 mb-5'>
            <button type="button" class="emz-button btn btn-fill__red btn-size__md btn__text-white w-100">Đăng nhập</button>
        </div>
        <div class='col-12'>
            <p class='emz-form-desc__bottom'>
                Bạn quên mật khẩu? <a href='#' data-bs-toggle="modal" data-bs-target="#modalReset">Lấy lại mật khẩu</a>
            </p>
        </div>
    </div>
</form>
