<div class='row g-0 emz-form'>
    <div class='col-12'>
        <h3 class='widget-profile__label text-capitalize d-block'>
            ĐƠN HÀNG <span class='fw-normal ms-2'>(20 sản phẩm)</span>
        </h3>
    </div>
    <div class='col-12'>
        {% render 'paths/order-list' %}
    </div>
    <div class='col-12 emz-form__coupon'>
        <div class='dotted mb-3'></div>
        <div class='d-lg-flex justify-content-between coupon-box'>
            <span>Tổng tiền hàng</span>
            <span class='ms-sm-3'>99.850.000đ</span>
        </div>
        <div class='d-lg-flex justify-content-between coupon-box'>
            <span>Mã XMDB được giảm giá</span>
            <span class='ms-sm-3'>- 15.000đ</span>
        </div>
        <div class='d-lg-flex justify-content-between coupon-box'>
            <span>Phí vận chuyển</span>
            <span class='ms-sm-3'>50.000đ</span>
        </div>
        <div class='dotted my-3'></div>
        <div class='d-lg-flex justify-content-between coupon-box coupon-total'>
            <span>Tổng tiền :</span>
            <span class='ms-sm-3'>99.850.000 <sup>đ</sup></span>
        </div>
    </div>
</div>
