<ul class='dropdown-level-2'>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-title'>
                Bộ sưu tập mới
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-title'>
                Giày thời trang nam
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-title'>
                Giày thời trang nữ
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-title'>
                Giày thể thao
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-title'>
                Giày công sở
            </span>
        </a>
    </li>
    <li>
        <a href='/categories' class='dropdown-item d-flex align-items-center text-decoration-none'>
            <span class='dropdown-menu__item-title'>
                Giày mùa xuân
            </span>
        </a>
    </li>
</ul>
