<ul class="dropdown-menu dropdown-menu-end dropdown-notify dropdown-menu__widget no-border show-on-page" aria-labelledby="navbarDropdownNotify">
    <li class='d-flex align-items-center border-bottom'>
        <h4 class='dropdown-notify-label'>Thông báo mới nhận</h4>
        <a href='#' class='ms-auto me-3 text-decoration-none text-base text-dark'>Đánh dấu đã đọc tất cả</a>
    </li>
    <li>
        <div class='dropdown-item d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <a href='#'><img src='https://picsum.photos/40' alt='IMG'></a>
            </span>
            <div class='dropdown-menu__item-title'>
                <a href='#'>
                    Chào mừng bạn đến với Big Shoe🤙
                </a>
                <p class='dropdown-menu__item-title-desc'>
                    😍Chúng tôi tặng bạn giảm giá 10% tổng đơn hàng😇
                </p>
                <div class='dropdown-menu__item-title-desc mt-0'>
                    <span class='dropdown-menu__item-title-desc-date'>7:22 18-11-2020</span> <a href='#'>Xem chi tiết</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class='dropdown-item d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <a href='#'><img src='https://picsum.photos/40' alt='IMG'></a>
            </span>
            <div class='dropdown-menu__item-title'>
                <a href='#'>
                    Theo dõi 6 shop - Nhận 600 Xu
                </a>
                <p class='dropdown-menu__item-title-desc'>
                    ⚡️Chỉ click rinh xu cực thích ⏳ Vào ngay!
                    <br>
                    Số lượng khuyến mãi rất có hạn! Vào ngay… bạn ơi. Nhanh chân kẻo hết.
                </p>
                <div class='dropdown-menu__item-title-desc mt-0'>
                    <span class='dropdown-menu__item-title-desc-date'>7:22 18-11-2020</span> <a href='#'>Xem chi tiết</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class='dropdown-item dropdown-item__read d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <a href='#'><img src='https://picsum.photos/40' alt='IMG'></a>
            </span>
            <div class='dropdown-menu__item-title'>
                <a href='#'>
                    Theo dõi 6 shop - Nhận 600 Xu vào ngay tài khoản
                </a>
                <p class='dropdown-menu__item-title-desc'>
                    ⚡️Chỉ click rinh xu cực thích ⏳ Vào ngay!
                    <br>
                    Số lượng khuyến mãi rất có hạn! Vào ngay… bạn ơi. Nhanh chân kẻo hết.
                </p>
                <div class='dropdown-menu__item-title-desc mt-0'>
                    <span class='dropdown-menu__item-title-desc-date'>7:22 18-11-2020</span> <a href='#'>Xem chi tiết</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class='dropdown-item d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <a href='#'><img src='https://picsum.photos/40' alt='IMG'></a>
            </span>
            <div class='dropdown-menu__item-title'>
                <a href='#'>
                    Hàng về cực nhiều - Clear kho hàng cũ giá siêu sốc!
                </a>
                <p class='dropdown-menu__item-title-desc'>
                    ⚡️Chỉ click rinh xu cực thích ⏳ Vào ngay! <br>
                    Số lượng khuyến mãi rất có hạn! Vào ngay… bạn ơi🏄‍♀️<br>
                    Rủ thêm bạn bè cùng mua nhé. Nhanh chân nhanh tay nào anh em ơi.
                </p>
                <div class='dropdown-menu__item-title-desc mt-0'>
                    <span class='dropdown-menu__item-title-desc-date'>7:22 18-11-2020</span> <a href='#'>Xem chi tiết</a>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class='dropdown-item d-flex align-items-start text-decoration-none'>
            <span class='dropdown-menu__item-img'>
                <a href='#'><img src='https://picsum.photos/40' alt='IMG'></a>
            </span>
            <div class='dropdown-menu__item-title'>
                <a href='#'>
                    Sale mùa giáng sinh. Nhiều sản phẩm giảm sâu 50-70%
                </a>
                <p class='dropdown-menu__item-title-desc'>
                    ⚡️Chỉ click rinh xu cực thích ⏳ Vào ngay! <br>
                    Số lượng khuyến mãi rất có hạn! Vào ngay… bạn ơi. Nhanh chân kẻo hết.
                </p>
                <div class='dropdown-menu__item-title-desc mt-0'>
                    <span class='dropdown-menu__item-title-desc-date'>7:22 18-11-2020</span> <a href='#'>Xem chi tiết</a>
                </div>
            </div>
        </div>
    </li>
</ul>
