<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nhập mã giảm giá">
    <button class="btn emz-button btn-fill__gray btn__text-dark-1/2" type="button" id="button-addon2">Áp dụng</button>
</div>
<div class='d-lg-flex justify-content-between coupon-box coupon-rate'>
    <h3>
        Mã XMDB được giảm giá 15.000đ
    </h3>
    <span class='ms-sm-3'>- 15.000đ</span>
</div>
