<div class='product-item__content'>
    <h3>
        CHI TIẾT SẢN PHẨM
    </h3>
    <p>Cần câu tay đơn, câu đài Đài Loan chất lượng cao giá tốt. được làm từ chất liệu carbon 28T, nhấc tĩnh 3.6kg test. Ngọn cần xauy 360 độ, các khớp đọt đều khắc ziczac lực cong sẽ phân bổ đồng đều tạo ma sát khi gặp phai cá lớn tránh bị bung cá và gãy cần. Ngọn 1.15mm, thu gọn 1.15cm. </p>
    <img src='https://picsum.photos/790/385' alt='img'>
    <p>Cần câu tay đơn, câu đài Đài Loan chất lượng cao giá tốt. được làm từ chất liệu carbon 28T, nhấc tĩnh 3.6kg test. Ngọn cần xauy 360 độ, các khớp đọt đều khắc ziczac lực cong sẽ phân bổ đồng đều tạo ma sát khi gặp phai cá lớn tránh bị bung cá và gãy cần. </p>
</div>
<div class='dotted'></div>
<div class='w-100 mt-5'>
    <header class='emz-header'>
        <h3 class='emz-header__name'>
            Đề xuất cho bạn
        </h3>
        <div class='emz-header__divider'></div>
    </header>
    {% render 'paths/product-items' %}
</div>
<div class='w-100 text-center'>
    <button type="button" class="emz-button btn btn-outline__dark-1/5 btn-size__md no-radius btn__text-dark-7/10">Xem thêm</button>
</div>
