<div class='widget-profile'>
    <h3 class='widget-profile__label'>
        Địa chỉ
        <a href='#' data-bs-toggle="modal" data-bs-target="#modalProfileAdd">Thêm địa chỉ</a>
    </h3>
    <ul class="widget-profile__list list-unstyled">
        <li><b>Lý Linh Ngọc</b> <span class='widget-profile__default'>Mặc định</span></li>
        <li><span class='ms-0'>0983 453 005</span></li>
        <li>
            <span class='ms-0 widget-profile__list-address'>
                Nhà 6A, Ngõ 99 Định Công Hạ, Phường Định Công, Hoàng Mai, Hà Nội <br>
                Phường Định Công <br>
                Quận Hoàng Mai <br>
                Hà Nội
            </span>
        </li>
    </ul>
    <ul class="widget-profile__action widget-profile__action-nolabel list-inline">
        <li class="list-inline-item">
            <a href='#'>Xóa</a>
        </li>
        <li class="list-inline-item">
            <a href='#'>Sửa</a>
        </li>
        <li class="list-inline-item widget-profile__action-checkbox">
            <input class="form-check-input emz-form rounded-pill mt-0" type="checkbox" value="" id="checkboxProfileID1" checked>
            <label for='checkboxProfileID1'>Đặt làm mặc định</label>
        </li>
    </ul>
    <ul class="widget-profile__list list-unstyled">
        <li><b>Tiêu Ân Tuấn</b> <span class='widget-profile__default bg-gray'>Địa chỉ lấy hàng</span></li>
        <li><span class='ms-0'>0983 453 005</span></li>
        <li>
            <span class='ms-0 widget-profile__list-address'>
                Nhà 6A, Ngõ 99 Định Công Hạ, Phường Định Công, Hoàng Mai, Hà Nội <br>
                Phường Định Công <br>
                Quận Hoàng Mai <br>
                Hà Nội
            </span>
        </li>
    </ul>
    <ul class="widget-profile__action widget-profile__action-nolabel list-inline">
        <li class="list-inline-item">
            <a href='#'>Xóa</a>
        </li>
        <li class="list-inline-item">
            <a href='#'>Sửa</a>
        </li>
        <li class="list-inline-item widget-profile__action-checkbox disabled">
            <input class="form-check-input rounded-pill mt-0" type="checkbox" value="" id="checkboxProfileID2" checked>
            <label for='checkboxProfileID2'>Đặt làm mặc định</label>
        </li>
    </ul>
</div>
