<div class='d-inline-flex'>
    <div class="input-group emz-form__select-sort d-flex align-items-end mb-3 ms-lg-3 ms-0">
        <span class='me-3'>Sắp xếp theo :</span>
        {% render 'paths/form-sort' %}
    </div>
</div>
